@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up-short {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: none;
  }
}

@keyframes slide-up-long {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-left-short {
  0% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left-medium {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left-long {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-long {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left-and-rotate {
  0% {
    transform: translateX(200%) rotate(60deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes slide-right-and-rotate {
  0% {
    transform: translateX(-200%) rotate(-60deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce-centered {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  80% {
    transform: translate(-50%, -50%) scale(1.125);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes grow {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes expand {
  0% {
    width: 40%;
  }

  100% {
    width: 100%;
  }
}
